from abc import ABC, abstractmethod
from typing import Generic, TypeVar
import asyncio

from shared.domain.queries.query import Query
from shared.domain.queries.response import Response


R = TypeVar('R', bound=Response)
QueryType = TypeVar('QueryType', bound=Query)


class QueryBus(ABC, Generic[R]):
  @abstractmethod
  async def ask(self, query: QueryType) -> R:
    raise NotImplementedError