from abc import ABC, abstractmethod
from typing import Protocol, TypeVar

from shared.domain.events.domain_event import DomainEvent

T = TypeVar("T", bound=DomainEvent)


class DomainEventSubscriber(ABC, Protocol[T]):
  @abstractmethod
  def subscribed_to(self) -> list[type[DomainEvent]]:
    raise NotImplementedError

  @abstractmethod
  async def on(self, domain_event: T) -> None:
    raise NotImplementedError
