from abc import ABC, abstractmethod
from typing import Protocol

from shared.domain.events.domain_event import DomainEvent
from shared.domain.events.domain_event_subscribe import DomainEventSubscriber


class EventBus(ABC, Protocol):
  @abstractmethod
  async def publish(self, events: list[DomainEvent]) -> None:
    raise NotImplementedError

  @abstractmethod
  def add_subscribers(self, subscribers: list[DomainEventSubscriber[DomainEvent]]) -> None:
    raise NotImplementedError
