from abc import ABC
from typing import TypeVar, Union
from shared.domain.value_objects.invalid_argument_error import InvalidArgumentError

T = TypeVar("T")
Primitives = Union[str, int, float, bool]


class ValueObject(ABC):
  def __init__(self, value: Primitives):
    self.value = value
    self._ensure_value_is_defined(value)

  @property
  def value(self) -> str:
    return self._value

  def _ensure_value_is_defined(self, value: Primitives) -> None:
    if value is None:
      raise InvalidArgumentError("Value must be defined")

  def equals(self, other: ValueObject) -> bool:
    return type(other) is type(self) and other.value == self.value

  def __hash__(self) -> int:
    return hash(self.value)
    
  def __str__(self) -> str:
    return str(self.value)

  def __eq__(self, other: object) -> bool:
    if not isinstance(other, ValueObject):
      return False
    return self.equals(other)
